
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
 @include mobile(){
  width: 100vw;
  
}
  width: 1366px;
  margin: auto;
}
.sectionTittle{
  font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
